* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  position: relative;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
}

#productListContain {
  width: 232px;
}

.swiper-button-prev {
  padding: 50px 25px 50px 25px;
  background-color: white;
  border: none;
  outline: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  left: 0;
  color: black;
  top: 40%;
}

.swiper-button-next {
  padding: 50px 25px 50px 25px;
  background-color: white;
  border: none;
  outline: none;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  color: black;
  top: 40%;
}

.nextBtn{
  right: 1px;

}

.productListContain {
  display: flex;
  flex-direction: column;
  padding: 25px 15px;
}

.productImg {
  width: 200px;
  height: 200px;
  position: relative;
  margin: 0 auto 0 auto;
}

.productImg img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  opacity: 1;
  max-width: 232px;
  max-height: 100%;
}
.login_menu{
  top: 2.7rem;
}

.login_menu::before{
  position: absolute;
  content: "";
  margin-left: 110px;
  top: -11px;
  border-top:0px solid transparent;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 12px solid white;
}

.loginBtn_container:hover .login_menu{
  display: block;
}

.icon_more{
  font-size: 10px;
  transition: transform 0.5s;
}
.more_link:hover .icon_more{
  transform: rotate(-180deg);
}

.more_menu{
  content: "";
  background-color: transparent;
  transform: translateX(-35%);  
  padding-top:10px;
  /* display: none; */
 z-index: 12; 
 display: none;
  
}

.more_menu::before{
  position: absolute;
  content: "";
  margin-left: 95px;
  top:1px;
  border-top:0px solid transparent;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 12px solid white; 
}
.more_menu_list{
  background-color: white;
  height: 100%;
  box-shadow: -5px -0px 5px rgba(0,0,0,0.1),
  5px 5px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: red; */
}
.more_link:hover .more_menu{
  display: block;
}