* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  overflow: hidden;
}

.glider-contain {
  width: 100%;
  max-width: 1680px;
  margin: 0;
}

.glider-slide {
  min-height: 100%;
  
}


.glider-slide img {
  width: 100%;
}
